<h2>Trump Cards</h2>

<h4><%= link_to "Tennis Legends", :action => 'play', :game => 'tennis' %></h4>
<h4><%= link_to "Test Cricket", :action => 'play', :game => 'test_cricket' %></h4>
<h4><%= link_to "One Day Cricket", :action => 'play', :game => 'one_day_cricket' %></h4>
